<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      @font-face {
        font-family: valorant;
        src: url(../../assets/fonts/Valorant/VALORANT_Font/Valorant_Font.ttf);
      }
      @font-face {
        font-family: google_sans;
        src: url(../../assets/fonts/Google_Sans/GoogleSans-VariableFont_GRAD\,opsz\,wght.ttf);
      }
    
    </style>
  </head>
  <body>
    
  </body>
</html>
