#main {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-color: var(--theme-primary-color);
  overflow-y: auto;
  scrollbar-color: var(--theme-accent-color);
  display: block;
  justify-items: center;
  align-items: center;
  scroll-behavior: smooth;
 
}
#loader {
  display: block;
}
 
#hero_section_main {
  width: 100%;
  height: 99%;
  z-index: 1;
  background: var(--theme-primary-gradient);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100%;
  box-shadow: 0 10px 10px -5px rgba(49, 49, 49, 0.308);
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  grid-template-rows: 1fr 3fr 3fr 3fr;
  overflow: hidden;
  
}


#background_table_herosection {
  outline: 09px solid white;
  table-layout: fixed;
  grid-row: 1/5;
  grid-column: 1/6;
  height: 110%;
  width: 110%;
  justify-self: center;
  z-index: 0;
}

#background_table_herosection td {
  outline: 1px solid rgba(255, 255, 255, 0.308);
  outline-style: solid;
  z-index: 0;
}
#owners_image_hero_section {
  height: 100%;
  grid-column: 2/5;
  position:relative;
  transition: cubic-bezier();
  z-index: 150;
  grid-row: 2/6;
  align-self: last baseline;
  justify-self: center;
  animation-duration: 1s;
  animation-timeline: view;
  animation-name: owners_image_hero_section_animation;
  animation-fill-mode: forwards;
  animation-range: entry 0% entry 100%;
}
#owners_transparentname_hero_section {
  color: #fdcdcd10;
  -webkit-text-stroke: 1px #ffffff2f;
  grid-column: 1/6;
  z-index: 100;
  grid-row: 2;
  text-align: center;
  text-align-last: center;
  position: relative;
  font-size: 20vmax;
  width: 100%;
  animation-duration: 1s;
  animation-timeline: view;
  animation-name: owners_transparentname_hero_section_animation;
  animation-fill-mode: forwards;
  animation-range: entry 0% entry 100%;
  font-family: valorant;
}
#owners_name_hero_section {
  color: white;
  font-family: monserrat;
  grid-row: 4;
  grid-column: 2/5;
  font-size: 10vmax;
  z-index: 200;
  justify-self: left;
  margin-left: 2vmax;
  animation-duration: 1s;
  animation-timeline: view;
  animation-name: owners_name_hero_section_animation;
  animation-fill-mode: forwards;
  animation-range: entry 0% entry 100%;
  font-weight: 900;
}
#about_owner_hero_section {
  font-family: led_counter_7;
  grid-row: 2/4;
  align-self: last baseline;
  justify-self: right;
  word-wrap: normal;
  color: #ffffff;
  z-index: 10;
  grid-column: 5/7;
  padding: 10px;
  justify-self: center;
  border-radius: 20px;
  font-weight: 600;
  font-size: 1.4vmax;
}
#about_owner_main {
  padding: 10%;
  padding-top: 5%;
  height:80vh;
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-template-rows: 3fr 1fr 2fr ;
  width: 65vw;
  max-height: fit-content;
  grid-gap: 1vmax;
}
#about_owner_main #text_ability_owner_main {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  height: 100%;
  grid-column: 1;
  grid-row: 1/2;
  justify-content: first baseline;

  color: var(--theme-secondary-color);
}

#text_ability_owner_main span {
  padding-right: 1vmax;
  animation-name:large_to_normal_slick_entry;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timeline: view(0%);
  animation-range: entry 0% entry 100%;
  animation-range: cover;
  
}

#about_owner_main .about_owner_main_text {
  font-size: 4vmax;
  font-family: inter_semibold;
  text-transform: uppercase;
}
#about_owner_main #highlight_text {
  color: rgb(189, 189, 189);
}
#growth_rating_accent_image_about_owner_main{
  grid-row: 1;
  grid-column: 2;
  height: 60%;
  justify-self: right;
  align-self: center;
  min-height: 20px;
  border-radius: 1vmax;
  box-shadow: 0px 0px 2px rgba(128, 128, 128, 0.384);
  animation-name:large_to_normal_slick_right_entry ;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timeline: view(0%);
  animation-range: entry 0% entry 100%;
  animation-range: cover;

}
#greeting_by_owner_and_about_about_owner_main span{
  padding-right: 1vmax;
  animation-name: large_to_normal_slick_right_entry ;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timeline: view(0%);
  animation-range: entry 0% entry 100%;
  animation-range: cover;
  font-family: led_counter_7;
}
#greeting_by_owner_and_about_about_owner_main{
  font-size: 1.5vmax;
  font-family: inter_semibold;
  text-transform: uppercase;
  display:flex;
  width: 100%;
  flex-wrap: wrap;
  height: 100%;
  grid-column: 2;
  grid-row: 2;
  justify-content:left;
  align-items: center;
  
  
}
#design_image_about_owner_main{
  display: flex;
  border: 5px solid;
  grid-row: 2/4;
  height: 80%;
  justify-self: center ;
  align-self:first baseline;
  border-radius: 1vmin;
  animation-name: large_to_normal_slick_entry_bottom_left ;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timeline: view(0%);
  animation-range: entry 0% entry 100%;
  animation-range: cover;
  
}
#stats_about_owner_main{
  grid-row: 3;
  grid-column: 2;
  border-radius: 0.2vmin;
  display: grid;
  grid-template-rows: 1fr 1fr;
  
  background-color: #ffffff;
  max-height: 90%;
  min-height: fit-content;
  height:  10vmax;
  width: 90%;
  padding: 1vmax;
   animation-name: large_to_normal_slick_right_entry ;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timeline: view(0%);
  animation-range: entry 0% entry 100%;
  animation-range: cover;
  font-family: led_counter_7;
}
#_no_of_happy_customers_stats, #_no_of_projects_stats{
  display: grid;
  grid-template-columns: 1fr 3fr;
  align-items: center;
}
#stats_about_owner_main .no_stats_about_owner_main{
  font-size: 3vmax;
  font-family: inter_semibold;
  text-transform: uppercase;
  
}
#stats_about_owner_main .text_name{
  font-size: 1.8vmax;
  font-family: inter_semibold;
  text-transform: uppercase;
}
@media screen and (orientation: portrait) and (max-width:899px){
  #hero_section_main {
    width: 100%; 
  }
  
  #owners_image_hero_section{
    height: 60%;
  }
  #owners_transparentname_hero_section{
    grid-row: 2/5;
    grid-column: 3/4;
    width: 40vmax;
    align-self: baseline;
    word-wrap: break-word;
    text-align: center;
    text-align-last: center;
  }
  #about_owner_hero_section{
    display: none;
  }
  #owners_name_hero_section {
    justify-self: center;
    grid-row: 4/6;
    align-self: last baseline;
  }
  #text_ability_owner_main span {
    
    text-align: center;
    text-align-last: center;
  }
}
@media  screen and (orientation: portrait) and (max-width:599px) {
  #about_owner_main {
    height: 80vh;
    justify-items: center;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 2fr 1fr 2fr;
  }
  #text_ability_owner_main{
    grid-area: 1/1/2/2;
    text-align: center;
    text-align-last: center;
    justify-items: center;
    justify-content: center;
  }
  #growth_rating_accent_image_about_owner_main{
    grid-area: 2/1/3/2;
    animation-name: large_to_normal_slick_entry_center;
    height: 100%;
    justify-self: center;
  }
  #greeting_by_owner_and_about_about_owner_main{
    grid-area: 3/1/4/2;
    
  }
  #design_image_about_owner_main{
    display: none;
     animation-name: large_to_normal_slick_entry_center;
  }
  #stats_about_owner_main{
    grid-area: 4/1/5/2;
     animation-name: large_to_normal_slick_entry_center;
  }
  #greeting_by_owner_and_about_about_owner_main span{
     animation-name: large_to_normal_slick_entry_center;
  }
}
@keyframes large_to_normal_slick_entry_center {
  from{
      transform: scale(1.2);
    opacity: 20%;
    }
    to{
      transform: scale(1);
      opacity: 100%;
    }
}
@keyframes large_to_normal_slick_entry_bottom_left {
    from{
      transform: scale(1.2) translateX(-10vmax) translateY(6vmax);

    }
    to{
      transform: scale(1) translateX(0) translateY(0)
    }
}
@keyframes large_to_normal_slick_right_entry {
  from {
    transform: translateX(5vmax) scale(1.2);

    opacity: 20%;
  }
  to {
    transform: translateX(0px) scale(1);
    opacity: 100%;
  }
}
@keyframes large_to_normal_slick_entry {
  from {
    transform: scale(1.2);

    opacity: 20%;
  }
  to {
    transform: scale(1);
     opacity: 100%;
  }
}
@keyframes owners_image_hero_section_animation {
  from {
    
    transform: translateY(10vmax);
    filter: blur(20px);
    filter: opacity(0%);
  }
  to {
    transform: translateY(0);
  }
}
@keyframes owners_transparentname_hero_section_animation {
  from {
    transform: scale(0.8);
    filter: blur(20px);
    opacity: 0%;
  }
  to {
    transform: scale(1);
    opcity: 100%;
  }
}
@keyframes owners_name_hero_section_animation {
  from {
    opacity: 0%;
    filter: blur(10px);
    transform: scale(1.2);
  }
  to {
    opacity: 100%;
    transform: scale(1);
  }
}

/* #main_header{
    width: 100%;
    height: 20%;
    max-height: 4em;
    

}
#navbar_main{
    height: 80%;
    box-shadow: 1px 1px 10px var(--theme-accent-color);
} */
