 *{
            margin: 0;
            padding: 0;
        }
        #loader{
            background-color: rgb(255, 255, 255);
            position: fixed;
            height: 100vh;
            width: 100vw;
            z-index:1000 ;
            animation-duration: 1s;
            animation-fill-mode: forwards;
        }
        @keyframes loader_exit {
            from{
                top: 0px;
            }
            to{
                top: -100vh;
            }
        }