:root {
  --theme-background-color: rgb(255, 255, 255);
  --theme-secondary_color: rgb(255, 174, 0);
  --theme-accent-color: #000000;
}
* {
  margin: 0;
  padding: 0;
}
@font-face {
  font-family: valorant;
  src: url(/src/assets/fonts/Valorant/VALORANT_Font/Valorant_Font.ttf);
}
@font-face {
  font-family: google_sans;
  src: url(/src/assets/fonts/Google_Sans/GoogleSans-VariableFont_GRAD\,opsz\,wght.ttf);
}
@font-face {
  font-family: monserrat;
  src: url(/src/assets/fonts/Montserrat/Montserrat-VariableFont_wght.ttf);
}
.no-transition {
  transition: none !important;
}
#main {
  height: 100vh;
  width: 100vw;
  background-color: var(--theme-background-color);
  overflow-y: auto;
  scrollbar-color: var(--theme-accent-color);
}
#navbar_main {
  grid-row: 1;
  position: relative;
  top: -300px;
  background-color: transparent;
  height: 10%;
  display: flex;
  grid-column: 1/6;
  justify-content: center;
  align-items:baseline;
  animation-duration: 1s;
  animation-timeline: view;
  animation-name: navbar_main_reveal_animation;
  animation-fill-mode: forwards;
  animation-range: entry 0% entry 100%;
  animation-delay: 0.2s;
  
}
#navbar_main ul {
  list-style: none;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-family: google_Sans;
  font-weight: 500;
  column-gap: 10vw;
  align-items: center;
  font-size: 1.2vmax;
}
#navbar_main ul a {
  list-style: none;
  display: flex;
  justify-content: center;
  color: #ffffff;
  font-family: google_Sans;
  font-weight: 500;
  column-gap: 10vw;
  align-items: center;
  font-size: 1.2vmax;
  text-decoration: none;
  transition-duration: 0.5s;

  
}
#navbar_main li a:hover{

  text-decoration:underline;
  
}
#navbar_logo_text {
  font-size: 1.5vmax;
  font-weight: 500;
}
#hero_section_main {
  width: 100%;
  height: 99%;

  background: linear-gradient(
    100deg,
    #c03701ee 47%,
    rgb(212, 70, 0) 91%,
    rgb(219, 90, 0) 100%
  );
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 100%;
  box-shadow: 0 10px 10px -5px rgba(49, 49, 49, 0.308);
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  grid-template-rows: 1fr 3fr 3fr 3fr;
  overflow: hidden;
}
@media screen and (orientation: portrait) {
  #hero_section_main {
    height: 40%;
  }

}
#background_table_herosection {
  outline: 09px solid white;
  table-layout: fixed;
  grid-row: 1/5;
  grid-column: 1/6;
  height: 110%;
  width: 110%;
  justify-self: center;
  z-index: 0;
}

#background_table_herosection td {
  outline: 0.1px rgba(255, 255, 255, 0.308);
  outline-style:solid;
  z-index: 0;
}
#owners_image_hero_section {
  height: 100%;
  grid-column: 2/5;
  position: relative;
  top: 20px;
  transition: cubic-bezier();
  z-index: 150;
  grid-row: 2/5;
  align-self: center;
  justify-self: center;
  animation-duration: 1s;
  animation-timeline: view;
  animation-name: owners_image_hero_section_animation;
  animation-fill-mode: forwards;
  animation-range: entry 0% entry 100%;
}
#owners_transparentname_hero_section {
  color: #fdcdcd2d;
  grid-column: 1/6;
  z-index: 100;
  grid-row: 2;
  text-align: center;
  text-align-last: center;
  position: relative;
  font-size: 20vmax;
  width: 100%;
  animation-duration: 0.5s;
  animation-timeline: view;
  animation-name: owners_transparentname_hero_section_animation;
  animation-fill-mode: forwards;
  animation-range: entry 0% entry 100%;
  font-family: valorant;
}
#owners_name_hero_section {
  color: white;
  font-family: valorant;
  grid-row: 4;
  grid-column: 2/5;
  font-size: 10vmax;
  z-index: 200;
  justify-self: left;
  margin-left: 2vmax;
  animation-duration: 1s;
  animation-timeline: view;
  animation-name: owners_name_hero_section_animation;
  animation-fill-mode: forwards;
  animation-range: entry 0% entry 100%;
  font-family: monserrat;
  font-weight: 900;
  
}
#about_owner_hero_section{
  font-family: monserrat;
  grid-row: 2/4;
  align-self:last baseline;
  justify-self: right;
  word-wrap: normal;
  color: #000000;
  z-index: 10;
  grid-column:4/6 ;
  background-color: #ffffff;
  padding: 10px;
  justify-self: center;
  border-radius: 20px;
  font-weight: 600;
  font-size: 1vmax;
  border: 1px solid white;
}

@keyframes navbar_main_reveal_animation {
  from {
    top: -300px;
  }
  to {
    top: 0px;
  }
}
@keyframes owners_image_hero_section_animation {
  from {
    transform: translateY(0px);
    filter: blur(20px);
    filter: opacity(0%);
  }
  to {
    transform: translateY(-20px);
  }
}
@keyframes owners_transparentname_hero_section_animation {
  from {
    transform: scale(0.8);
    filter: blur(20px);
    opacity: 0%;
  }
  to {
    transform: scale(1);
    opcity: 100%;
  }
}
@keyframes owners_name_hero_section_animation {
  from {
    opacity: 0%;
    filter: blur(10px);
    transform: scale(1.2);
  }
  to {
    opacity: 100%;
    transform: scale(1);
  }
}
/* #main_header{
    width: 100%;
    height: 20%;
    max-height: 4em;
    

}
#navbar_main{
    height: 80%;
    box-shadow: 1px 1px 10px var(--theme-accent-color);
} */
